.container {
  max-width: 1920px;
  width: 75%;
  height: 2800px;
  border: 3px solid black;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow: hidden;
  margin-left: 12%;
  margin-top: 5px;
}
.container .satauri {
  font-size: 50px;
  color: black;
  margin-left: 45%;
  position: absolute;
  -webkit-animation-name: drop;
          animation-name: drop;
  margin-top: 0px;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  font-weight: bold;
  margin-left: 568px;
}
@-webkit-keyframes drop {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes drop {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0px;
  }
}
.container .realizmi-info {
  font-size: 22px;
  text-align: center;
  margin-top: 75px;
}
.container .extra-info {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.container .extra-info .extra-realism {
  font-size: 30px;
  text-align: center;
  margin-top: 15%;
  -webkit-animation-name: colorChange;
          animation-name: colorChange;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@-webkit-keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
@keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
.container .img-ilia {
  width: 20%;
  height: 500px;
  margin-left: 68%;
  margin-top: -507px;
}
.container .img-ilia .img-wavwavadze {
  width: 155%;
  height: 100%;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  margin-top: 0px;
  margin-left: -45px;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.container .realismi-akaki {
  margin-left: 40%;
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
}
.container .li {
  font-size: 25px;
  margin-left: 20px;
}
.container .p2 {
  font-size: 20px;
}
.container .p3 {
  font-size: 30px;
}
.container .click {
  font-size: 20px;
  margin-left: 720px;
  font-weight: bold;
  color: red;
  margin-top: -220px;
}
.container .img-akaki {
  width: 400px;
  height: 600px;
  position: absolute;
  margin-top: 1370px;
  margin-left: 900px;
  display: none;
}
.container .nigganaenae {
  width: 500px;
  height: 500px;
}
.container .naenaenigga {
  position: absolute;
  margin-top: 2000px;
  text-align: center;
  font-size: 22px;
}
.container .idk {
  position: absolute;
  margin-top: 2108px;
  text-align: center;
  font-size: 22px;
}
.container .slider {
  position: absolute;
  width: 500px;
  height: 400px;
  margin-top: 2250px;
  margin-left: 30%;
  overflow: hidden;
}
.container .slider .move {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}
.container .slider .move .charles {
  width: 500px;
  height: 100%;
}
.container .slider .move .stendal {
  width: 500px;
  height: 100%;
}
.container .l {
  position: absolute;
  margin-top: 2650px;
  margin-left: 40%;
  width: 100px;
  height: 50px;
  background-color: red;
}
.container .l .dik {
  color: white;
  font-weight: bold;
}
.container .k {
  margin-left: 50%;
}/*# sourceMappingURL=style.css.map */