.container{
    max-width: 1920px;
    width: 75%;
    height: 2500px;
    border: 3px solid black;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 12%;

    .satauri{
        font-size: 50px;
        color: black;
        margin-left: 45%;
        position: absolute;
        animation-name: drop;
        margin-top: 0px;
        animation-iteration-count: 1;
        animation-duration: 15s;
        animation-delay: 0s;
        font-weight: bold;
    }

    @keyframes drop{
        0%{
            margin-top: -65px;
        }
        100%{
            margin-top: 0px;
        }
    }
    .realizmi-info{
        font-size: 22px;
        text-align: center;
        margin-top: 75px;
    }
    .extra-info{
        width: 50%;
        border: 3px solid black;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-content: center;

        .extra-realism{
            font-size: 30px;
            text-align: center;
            margin-top: 15%;

        }
        
    }
    .img-ilia{
        width: 20%;
        height: 500px;
        margin-left: 68%;
        margin-top: -507px;
        
        

        .img-wavwavadze{
            width: 155%;
            height: 100%;
            animation-name: appear;
            animation-iteration-count: 1;
            animation-delay: 0s;
            animation-duration: 50s;
            margin-top: -0px;
            margin-left: -45px;
        }

        @keyframes appear{
            0%{
                opacity: 0%;
            }
            100%{
                opacity: 100%;
            }
        }
    }
    .realismi-akaki{
        margin-left: 40%;
        font-size: 50px;
        font-weight: bold;
        margin-top: 0px;
    }
    .li{
        font-size: 25px;
        margin-left: 20px;
    }
    .p2{
        font-size: 20px;
    }
    .p3{
        font-size: 30px;
    }
    .click{
        font-size: 20px;
        margin-left: 720px;
        font-weight: bold;
        color: red;
        margin-top: -220px;
    }
    .img-akaki{
        width: 400px;
        height: 600px;
        position: absolute;
        margin-top: 1370px;
        margin-left: 900px;
        display: none;
    }
    .nigganaenae{
        width: 500px;
        height: 500px;
        border: 3px solid black;
    }
}